#nextans{border:1px solid #ddd;text-align: center;border-radius: 5px;width: 100px;margin:20px;cursor: pointer}
#ansde input{width: 70px}
.MainBox{padding:20px;width: 80vw;display: inline-block;min-height: 100vh;border-left: 1px solid #e5e5e5;background: #fff;}