.ty_title span{font-size: 1.7rem}
.ty_title{color: #333;height:5rem;line-height: 2rem;font-size: 1.7rem;text-align: center;line-height: 6.5rem;border-bottom: 1px #ddd solid;background: #fff}
.ty_title img{position: absolute;left: 1rem;top: 2.5rem;width: 1rem;height: auto;}